//---------------------------
//
// Display helpers
//
//---------------------------

.u-d-block,
%u-d-block {
	display: block !important;
}

.u-d-none,
%u-d-none {
	display: none !important;
}

.u-d-inline-block,
%u-d-inline-block  {
	display: inline-block !important;
}

.u-d-inline,
%u-d-inline  {
	display: inline !important;
}