//---------------------------
//
// Float helpers
//
//---------------------------

.u-f-left,
%u-f-left {
	float: left !important;
}

.u-f-right,
%u-f-right {
	float: right !important;
}

.u-f-none,
%u-f-none {
	float: none !important;
}