//---------------------------
//
// Text-align helpers
//
//---------------------------

.u-ta-left,
%u-ta-left {
	text-align: left !important;
}

.u-ta-right,
%u-ta-right {
	text-align: right !important;
}

.u-ta-center,
%u-ta-center {
	text-align: center !important;
}