.wrap {
    max-width: $wrapWidth;
    margin: 0 auto;
    padding: 0 1em;
}

.row {
    list-style: none;
    margin-left: -$grid-gutter-width;
}

.column {
    @include breakpoint(sm) {
        display: inline-block;
        margin-right: -.25em;
    }
    box-sizing: border-box;
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    min-height: 1px;
    padding-left: $grid-gutter-width;
    vertical-align: top;
    @for $i from 1 through 12 {
        &.xsmall-#{$i} {
            width: percentage($i/12);
        }
    }
    @for $i from 0 through 12 {
        @if($grid-pushes) {
            &.xsmall--push-#{$i} {
                margin-left: percentage($i/12);
            }
        }
        @if($grid-pulls) {
            &.xsmall--pull-#{$i} {
                margin-left: -percentage($i/12);
            }
        }
    }   
}

@include breakpoint(sm) {
    .column {
        @for $i from 1 through 12 {
            &.small-#{$i} {
                width: percentage($i/12);
            }
        }
        @for $i from 0 through 12 {
            @if($grid-pushes) {
                &.small--push-#{$i} {
                    margin-left: percentage($i/12);
                }
            }
            @if($grid-pulls) {
                &.small--pull-#{$i} {
                    margin-left: -percentage($i/12);
                }
            }
        }
    }
}

@include breakpoint(md) {
    .column {
        @for $i from 1 through 12 {
            &.medium-#{$i} {
                width: percentage($i/12);
            }
        }
        @for $i from 0 through 12 {
            @if($grid-pushes) {
                &.medium--push-#{$i} {
                    margin-left: percentage($i/12);
                }
            }
            @if($grid-pulls) {
                &.medium--pull-#{$i} {
                    margin-left: -percentage($i/12);
                }
            } 
        }
    }
}

@include breakpoint(lg) {
     @for $i from 1 through 12 {
        .column.large-#{$i} {
            width: percentage($i/12);
        }
    }
    @for $i from 0 through 12 {
        @if($grid-pushes) {
            .column.large--push-#{$i} {
                margin-left: percentage($i/12);
            }
        } 
        @if($grid-pulls) {
            .column.large--pull-#{$i} {
                margin-left: -percentage($i/12);
            }
        } 
    }
}

// Centers the column in the grid and clears the row of all other columns
.column--centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Displays the column as the first in its row
.column--first {
    float: left;
}

// Displays the column as the last in its row
.column--last {
    float: right;
}

// Removes gutters from the columns
.row--no-gutter {
    margin-left: 0;
    width: 100%;

    .column {
        padding-left: 0;
    }

    .column--span-all {
        margin-left: 0;
        width: 100%;
    }
}

// Align column to the bottom.
.column--bottom {
    vertical-align: bottom;
}

// Align column to the middle.
.column--middle {
    vertical-align: middle;
}