//---------------------------
//
// Root
//
//---------------------------

html {
	@include breakpoint(md) {
		font-size: 112.5%;
	}
	font: normal 100%/1.5 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}