//---------------------------
//
// Typography
//
//---------------------------

h1, 
h2, 
h3, 
h4, 
p {
	margin-bottom: $baseline * 0.75;
}

h1 {
	font-size: rem(29); 
}

h2 {
	font-size: rem(23); 
}

h3 {
	font-size: 1rem; 
}

h4 {
	font-size: rem(14);
}