@charset 'utf-8';

@import
	'vendors/index',
	'utilities/index',
	'base/index',
	'helpers/index',
	'components/index',
	'pages/index';

body {
	background-color: #f1f1f1;
	padding: 50px;
}

.app-container {
	width: 768px;
	margin: 0 auto;
}

.text-editor__toolbar {
	background-color: #434343;
	padding: 15px;
}

.text-editor__controls {
	@include display(flex);
	// @include flex(1);
	&:not(:last-child) {
		margin-right: 10px;
	}
}

.control--dropdown {
	@include flex(1.5);
}

.control--inline-styles {
	@include flex(0.5);
}

.control--block-styles {
	@include flex(0.5);
}

.control--link {
	@include flex(0.5);
}

.text-editor__editor {
	background-color: #fff;
	color: #777;
	padding: 15px;
	min-height: 300px;
	height: auto;
	overflow: scroll;
	cursor: text;
	ul { 
	   list-style-type: disc; 
	   list-style-position: inside; 
	}
	ol { 
	   list-style-type: decimal; 
	   list-style-position: inside; 
	}
	a {
		text-decoration: underline;
		color: #333;
	}
	img {
		max-width: 100%;
	}
	.public-DraftStyleDefault-pre {
		background-color: rgba(0, 0, 0, 0.05);
		font-family: 'Menlo', monospace;
		font-size: 16px;
		padding: 20px;
	}
	figure {
		margin: 0;
		z-index: 2;
	}
}

.text-editor__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    border: 1px solid #191919;
    &:first-child {
    	border-radius: 2px 0 0 2px;
    }
    &:last-child {
    	border-radius: 0 2px 2px 0;
    }
    &:not(:last-child) {
    	border-right: transparent;
    }
}

.text-editor__button,
.text-editor__dropdown {
	cursor: pointer;
}

.text-editor__button,
.text-editor__dropdown + span {
	background-color: #272727;
	font-size: 12px;
    color: #ccc;
    height: 32px;
}

.text-editor__dropdown {
    color: transparent;
    border: none;
    background: transparent;
    outline: none;
    z-index: 2;
    width: 100%;
    font-size: 12px;
    border: 1px solid #191919;
    + span {
   		@include display(flex);
		@include align-items(center);
		position: absolute;
		width: 100%;
		padding: 0 10px;
		font-family: sans-serif;
		border-radius: 2px;	
		&::before,
		&::after {
			font-family: FontAwesome;
			position: absolute;
			right: 10px;
			color: #ccc;
			font-size: 10px;
		}
		&::before {
			content: "\f0d8";
			top: 5px;
		}
		&::after {
			content: "\f0d7";
			bottom: 5px;
		}
    }
}

.text-editor__button.active {
	background-color: #111;
	color: #fff;
}

.text-editor__blockquote {
	border-left: 5px solid #eee;
	color: #666;
	font-style: italic;
	margin: 16px 0;
	padding: 10px 20px;
}

.text-editor__row {
	@include display(flex);
	width: 100%;
}

.html-output {
	margin-top: 10px;
	textarea {
		width: 100%;
	    font-size: 14px;
	    font-family: Menlo, monospace;
	    padding: 15px;
	    min-height: 350px;
	    overflow: scroll;
	}
}

.image-action-items {
	@include display(flex);
	@include flex-direction(column);
	position: absolute;
	width: 100%;
	.image-action-items__top {
		@include display(flex);
		@include align-self(center);
		font-family: sans-serif;
    	color: #fff;
    	font-size: 14px;
    	background-color: rgba(0, 0, 0, 0.70);
    	width: 100%;
    	z-index: 1;
    	button {
	    	background: transparent;
	    	border: none;
	    	padding: 8px 16px;
	    }
	}
	.image-action-items__top {
		@include justify-content(space-between);
	}
}

.image-wrapper__inner {
	display: inline-block;
}